.ui-slider-p {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.ui-slider-p .ui-slider-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    background-size: cover;
}

.ui-slider-fade .ui-slider-content {
    opacity: 0;
}

.ui-slider-fade .ui-slider-content.ui-slider-active {
    opacity: 1;
    
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}
